<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- include 'partials/meta.njk' -%}
    <script>document.documentElement.classList.remove('no-js');</script>

    <link rel="stylesheet" href="/css/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <script src="/js/components/menu-toggle.js" type="module"></script>
  </head>
  <body>
    
    <header class="site-header" aria-expanded="false">
      <div class="wrapper">
        <div class="[ stack justify-between items-center py-200 ]">
          <div class="site-header__logo">
            <a href="/">
              {% include '../../img/brand_mark.svg' %}
            </a>
          </div>

          <button class="menu-toggle" data-menu-toggle="false" aria-label="Toggle Menu">
            <span class="menu-toggle__line"></span>
            <span class="menu-toggle__line"></span>
            <span class="menu-toggle__line"></span>
          </button>

          <nav class="site-header__navigation [ basis-full flex-1 lg:flex-initial g:basis-auto ]">
            <ul class="nav [ stack flex-col lg:flex-row lg:items-center ]">
              <li><a href="#">About Us</a></li>
              <li class="dropdown">
                <a href="#">Services &darr;</a>
                <div class="dropdown-pork">
                  <ul>
                    <li><a href="#">Commercial</a></li>
                    <li><a href="#">Domestic</a></li>
                    <li><a href="#">Light industrial</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#">Projects</a></li>
              <li><a href="#">Testimonials</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    
    <main>
      {{ content | safe }}
    </main>

    <footer class="site-footer [ bg-dark py-900 ]">
      <div class="wrapper">
        <div class="site-footer__upper [ flex justify-between flex-col sm:flex-row ]">
            <div class="grouped [ flex flex-col md:flex-row text-center sm:text-left ]">
                <div class="grouped-links [ flow ]">
                  <div>
                    <div class="details [ flow ]">
                      <h4>Quick response contact</h4>
                      <p><a href="#">sales@mcgelectrical.co.uk</a><br>
                      <a href="#">01453 050235</a></p>
                    </div>
                  </div>
                  <div>
                    <div class="details [ flow ]">
                      <h4>Contract &amp; Commercial Work</h4>
                      <p><a href="mailto:info@mcgelectrical.co.uk">info@mcgelectrical.co.uk</a><br>
                      <a href="mailto:mike.green@mcgelectrical.co.uk">mike.green@mcgelectrical.co.uk</a><br>
                      <a href="mailto:debbie.hill@mcgelectrical.co.uk">debbie.hill@mcgelectrical.co.uk</a></p>
                    </div>
                  </div>
                  <div>
                    <div class="details [ flow ]">
                      <h4>Emergency / Callouts</h4>
                      <p><a href="mailto:callouts@mcgelectrical.co.uk">callouts@mcgelectrical.co.uk</a></p>
                    </div>
                  </div>
                </div>

                <div>
                  <div>
                    <h4>Find what you're looking for</h4>
                    <ul>
                      <li><a href="#">About us</a></li>
                      <li><a href="#">Commercial</a></li>
                      <li><a href="#">Light industrial</a></li>
                      <li><a href="#">Domestic</a></li>
                      <li><a href="#">Projects</a></li>
                      <li><a href="#">Testimonials</a></li>
                      <li><a href="#">Contact Us</a></li>
                    </ul>
                  </div>
                </div>
            </div>

            <div class="brand [ mt-400 md:mt-0  text-center ]">
              {% include '../../img/brand_mark.svg' %}
            </div>
        </div>


        <div class="site-footer__lower [ flex flex-col text-center md:flex-row md:gap-500 md:justify-between text-300 pt-700 ]">
          <p>Copyright {% year %} MCG Electrical LTD. All rights reserved.</p>
          <p><a href="#">Website by Doidge</a></p>
        </div>
      </div>
    </footer>

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>
  </body>
</html>