 .site-header__navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}   

.site-header__navigation nav{
    display: grid;
}

.site-header[aria-expanded=true]{
    background-color: var(--color-dark);
    padding-bottom: var(--size-400);
}

.site-header[aria-expanded=true] .dropdown{
    background-color: var(--color-lightSlate);
    padding: var(--size-300);
    color: var(--color-dark);
    border-radius: var(--radius-small);
}

.site-header[aria-expanded=true] .dropdown>a{
    color: var(--color-dark);
}

.site-header[aria-expanded=true] .dropdown ul{
    border-radius: var(--radius-small);
    margin-top: var(--size-400);
    overflow: hidden;
}

.site-header[aria-expanded=true] .dropdown ul a{
    padding: var(--size-300);
    display: block;
    background-color: var(--color-slate);
}

.site-header[aria-expanded=true] .dropdown ul a:hover{
    background-color: var(--color-secondary);
}

/* **************************** */
/* restore these once completion of the mobile styling */
/* **************************** */



/* **************************** */
/* End Restore point */
/* **************************** */

.nav li{
    position: relative;
}

.nav .dropdown ul li:not(:last-child){
    border-bottom: 1px solid var(--color-secondary);
}

.nav .dropdown ul li a:hover{
    color: var(--color-lightGold);
}

.nav .dropdown ul:hover li a:not(:hover){
    color: var(--color-light);
} 


@media (min-width:1024px) {
    .nav .dropdown ul{
        border-radius: var(--radius-small);
        background-color: var(--color-dark);
        padding: var(--size-200) var(--size-400);
        border-bottom: 6px solid var(--color-primary);
    }

    .nav .dropdown .dropdown-pork{
        position: absolute;
        top: 100%;
        width: 100vw;
        max-width: 20rem;
        left: 50%;
        transform: translate(-50%, 0);
        padding-top: var(--size-400);
        visibility: hidden;
        opacity: 0;
    }

    .nav .dropdown ul li a::after{
        content: "\2192";
        padding-right: 0;
        transition: all 0.2s;
        color: var(--color-lightGold);
    }
    
    .nav .dropdown ul li a:hover::after{
        content: "\2192";
        padding-right: 3em;
    }

    .nav .dropdown ul li a{
        display: flex;
        transition: all 0.2s;
        justify-content: space-between;
        padding: .6rem 0;
        color: var(--color-lightSlate);
    }
}

.nav .dropdown:hover .dropdown-pork{
    visibility: visible;
    opacity: 1;
}

.site-header__navigation ul a{
    color: var(--color-light);
    text-decoration: none;
}

.site-header__navigation .nav{
    gap: var(--size-500);
}

.menu-toggle {
    position:relative;
    z-index:0;
    display:inline-block;
    width:24px;
    height:24px;
    -webkit-appearance:none;
    outline:0;
    border:none;
    background:0 0;
    transition:all .5s;
    padding:0;
    cursor:pointer;
    color:var(--color-light);
    flex-shrink:0;
    align-self: center;
}

.site-header[data-color="dark"] .menu-toggle{
    color: var(--color-dark);
}

.site-header[data-color="dark"][aria-expanded="true"] .menu-toggle{
    color: var(--color-light);
}

.menu-toggle__line {
    position:absolute;
    width:100%;
    height:2px;
    background:currentColor;
    display:block;
    transition:all .25s;
    top:50%;
    border-radius:var(--radius-tiny);
    margin-top:-1px;
}
.menu-toggle__line:first-child {
    transform:translateY(-6px);
}
.menu-toggle__line:nth-child(3) {
    transform:translateY(6px);
}
.menu-toggle[data-menu-toggle=true] .menu-toggle__line:first-child {
    transform:rotate(45deg) translateY(0);
}
.menu-toggle[data-menu-toggle=true] .menu-toggle__line:nth-child(2) {
    transform:scaleX(0) translateY(0);
}
.menu-toggle[data-menu-toggle=true] .menu-toggle__line:nth-child(3) {
    transform:rotate(-45deg) translateY(0);
}

@media (min-width:64em) {
    .menu-toggle{
        display: none;
    }
}